@model IEnumerable<EC_C2C_BanQuanAo.Areas.Admin.Models.DanhGiaNguoiBanViewModel>
@{
    ViewBag.Title = "DanhGiaNguoiBan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNguoiAdmin.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("TrangChu", "TaiKhoan")">Trang Chủ</a>
    </li>
    <li class="breadcrumb-item active">Danh sách đơn hàng</li>
</ol>

<!-- Custom scripts for this page-->
<script src="~/Assets_NguoiBan/js/sb-admin-datatables.min.js"></script>

<h2>Đánh giá người bán</h2>
<br />
@using (Html.BeginForm())
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Danh sách người bán hàng
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="abc" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.MaTK)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.TenDayDu)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.DiaChi)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.SDT)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.CMND)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.NgayDangKy)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.NgayDanhGia)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.DiemDanhGia)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.TinhTrang)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.MaTK)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.TenDayDu)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.DiaChi)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.SDT)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.CMND)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.NgayDangKy)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.NgayDanhGia)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.DiemDanhGia)</th>
                            <th>@Html.DisplayNameFor(model => model.TaiKhoan_NguoiBan.TinhTrang)</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.MaTK)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.TenDayDu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.SDT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.CMND)
                                </td>
                                <td>
                                    @(Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.NgayDangKy).ToString() != "" ? item.TaiKhoan_NguoiBan.NgayDangKy.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @(Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.NgayDanhGia).ToString() != "" ? item.TaiKhoan_NguoiBan.NgayDanhGia.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaiKhoan_NguoiBan.DiemDanhGia)
                                </td>
                                <td>
                                    @Html.DropDownListFor(modelItem => item.TaiKhoan_NguoiBan.TinhTrang, (List<SelectListItem>)item.DanhSachTrangThai, new { @class = "form-control", @id = item.TaiKhoan_NguoiBan.MaTK, @onchange = "ThayDoiTinhTrang(this);" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="form-inline">
        <label class="control-label col-md-10">  </label>
        <div class=" col-md-2">
            <a href="#" id="nutLuuCapNhat" class="btn btn-dark" onclick="LuuCapNhat()">Lưu cập nhật</a>
        </div>
    </div>
    <div id="CapNhatTinhTrang">

    </div>
}


<script>
    var dynamicID = 0;

        $(document).ready(function () {
            $('#abc').DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiển thị từ _START_ - _END_ trong _TOTAL_ dòng dữ liệu",
                    "infoEmpty": "Hiển thị 0 trong 0 dòng dữ liệu",
                    "infoFiltered": "(Đã hiện hết _MAX_ dòng dữ liệu)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Hiển thị _MENU_ dòng dữ liệu",
                    "loadingRecords": "Đang tải...",
                    "processing": "Đang trong quá trình...",
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy dữ liệu",
                    "paginate": {
                        "first":      "Đầu tiên",
                        "last":       "Cuối cùng",
                        "next":       "Tiếp theo",
                        "previous":   "Trước đó"
                    },
                    "aria": {
                        "sortAscending":  ": Sắp xếp cột theo thứ tự tăng dần",
                        "sortDescending": ": Sắp xếp cột theo thứ tự giảm dần"
                    }
                }
            });
        });

        function ThayDoiTinhTrang(x) {
            $("#CapNhatTinhTrang").append('<input type="hidden" name="[' + (dynamicID) + '].MaTK" value="' + x.id + '" />' +
                                          '<input type="hidden" name="[' + (dynamicID) + '].TinhTrang" value="' + x.value + '" />');

            var maTK = x.id;
            $.get('/Admin/TaiKhoan_Admin/layDanhSachTaiKhoan', { maTK: maTK }, function (data) {
                if (data.TinhTrang == x.value)
                {
                    $(x).closest('select').removeClass('is-valid');
                }
                else {
                    $(x).closest('select').addClass('is-valid');
                }
            });

            dynamicID += 1;
        }

        function LuuCapNhat() {
            $('#nutLuuCapNhat').closest('form').submit();
        }

</script>



