@model IEnumerable<EC_C2C_BanQuanAo.Areas.NguoiBan.Models.CapNhatTinhTrangViewModel>
@{
    ViewBag.Title = "Cập nhật tình trạng đơn hàng";
    Layout = "~/Areas/NguoiBan/Views/Shared/_LayoutNguoiBan.cshtml";
}

<!-- Custom scripts for this page-->
<script src="~/Assets_NguoiBan/js/sb-admin-datatables.min.js"></script>

<h2>Cập nhật tình trạng đơn hàng</h2>
<br />
@using (Html.BeginForm())
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Danh sách các hóa đơn
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="abc" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.MaHDH)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TaiKhoan.TenDayDu)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.DuongSo)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.QuanHuyen)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TinhThanh)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.SoLuong)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.Ngay)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TongTien)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TrangThai)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.MaHDH)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TaiKhoan.TenDayDu)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.DuongSo)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.QuanHuyen)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TinhThanh)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.SoLuong)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.Ngay)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TongTien)</th>
                            <th>@Html.DisplayNameFor(model => model.HoaDon_BanHang.TrangThai)</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoaDon_BanHang.MaHDH)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoaDon_BanHang.TaiKhoan.TenDayDu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoaDon_BanHang.DuongSo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoaDon_BanHang.QuanHuyen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoaDon_BanHang.TinhThanh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoaDon_BanHang.SoLuong)
                                </td>
                                <td>
                                    @(Html.DisplayFor(modelItem => item.HoaDon_BanHang.Ngay).ToString() != "" ? item.HoaDon_BanHang.Ngay.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoaDon_BanHang.TongTien)
                                </td>
                                <td>
                                    @Html.DropDownListFor(modelItem => item.HoaDon_BanHang.TrangThai, (List<SelectListItem>)item.DanhSachTrangThai, new { @class = "form-control", @id = item.HoaDon_BanHang.MaHDH, @onchange = "ThayDoiTinhTrang(this);" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    
    <div id="CapNhatTinhTrang">

    </div>
}



<script>
    var dynamicID = 0;

    $(document).ready(function () {
        $('#abc').DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "Không có dữ liệu",
                "info": "Hiển thị từ _START_ - _END_ trong _TOTAL_ dòng dữ liệu",
                "infoEmpty": "Hiển thị 0 trong 0 dòng dữ liệu",
                "infoFiltered": "(Đã hiện hết _MAX_ dòng dữ liệu)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Hiển thị _MENU_ dòng dữ liệu",
                "loadingRecords": "Đang tải...",
                "processing": "Đang trong quá trình...",
                "search": "Tìm kiếm:",
                "zeroRecords": "Không tìm thấy dữ liệu",
                "paginate": {
                    "first":      "Đầu tiên",
                    "last":       "Cuối cùng",
                    "next":       "Tiếp theo",
                    "previous":   "Trước đó"
                },
                "aria": {
                    "sortAscending":  ": Sắp xếp cột theo thứ tự tăng dần",
                    "sortDescending": ": Sắp xếp cột theo thứ tự giảm dần"
                }
            }
        });
    });

    function ThayDoiTinhTrang(x) {
        $("#CapNhatTinhTrang").append('<input type="hidden" name="[' + (dynamicID) + '].MaHDH" value="' + x.id + '" />' +
                                      '<input type="hidden" name="[' + (dynamicID) + '].TrangThai" value="' + x.value + '" />');
        alert(x.id);
        $(x).closest('form').submit();

        dynamicID += 1;
    }
</script>

